{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ page.title }} | {{ title }}{% endblock %}

{% block class %}post posts-expand{% endblock %}

{% block content %}

  {% set reading = novel_chapter(page) %}
  {% if reading %}
    {% include '_partials/post/novel-reader.njk' %}
  {% else %}
    {{ partial('_macro/post.njk', {post: page}) }}
  {% endif %}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(page.toc.enable and not novel_chapter(page)) }}
{% endblock %}
