/* sidebar social icon */
.common {
  display: flex;
  background-size: 1.5rem;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  height: 1.5rem;
  width: 1.5rem; 
  border-radius: 0rem;
  /*鼠标停留在图标上时，图标呈现发光效果*/
  &:hover {
      opacity: 1;
    }
}
.github {
   background-image: url('/images/GitHub.svg');
}
