<script src="/js/love.js"></script>

<script src="/js/crash_cheat.js"></script>

<script src="/js/wobblewindow.js"></script>

<script 
  color="0,0,0" 
  opacity="0.5" 
  zIndex="-1" 
  count="99" 
  src="https://cdn.jsdelivr.net/npm/canvas-nest.js@1.0.1/dist/canvas-nest.js">
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.css">

<script src="https://cdn.jsdelivr.net/npm/aplayer/dist/APlayer.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/meting@2/dist/Meting.min.js"></script>

<style>
  /* 隐藏歌词面板 */
  .aplayer-lrc {
    display: none !important;
    opacity: 0 !important;
  }

  canvas {
    pointer-events: none !important;
    z-index: -1 !important;
  }
</style>

<meting-js
  server="netease"
  type="playlist"
  id="475964653"
  fixed="true"
  autoplay="false"
  order="list"
  loop="all"
  theme="#2980b9"
  list-folded="true">
</meting-js>