<link rel="stylesheet" href="/css/novels.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/ark-pet.css">
<link rel="icon" href="/images/black-lizard/favicon.ico" sizes="16x16 32x32 48x48">
<link rel="icon" type="image/svg+xml" href="/images/black-lizard/icon.svg" sizes="any">
