.links-of-recent-posts
  font-size: 0.8125em
  margin-top: 10px

.links-of-recent-posts-title
  font-size: 1.03em
  font-weight: 600
  margin-top: 0

.links-of-recent-posts-list
  list-style: none
  margin: 0
  padding: 0

canvas {
  pointer-events: none !important;
  z-index: -1 !important;
}

@media (max-width: 767px) {
  canvas {
    display: none !important;
  }
  .aplayer.aplayer-fixed {
    width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;
    bottom: 0 !important;
  }
  .aplayer.aplayer-fixed .aplayer-lrc {
    display: none !important;
  }
}